<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <link href="libs/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="libs/css/bootstrap.min.css" rel="stylesheet" />
    <link href="styles.css" rel="stylesheet" />

    <script src="libs/js/jquery-1.11.1.min.js"></script>
    <script src="libs/js/underscore-min.js"></script>
    <script src="libs/js/bootstrap.min.js"></script>
    <script src="libs/js/angular.min.js"></script>
    <script src="libs/js/angular-resource.min.js"></script>
    <script src="libs/js/angular-route.min.js"></script>
    <script src="libs/js/ui-bootstrap-tpls-0.11.0.min.js"></script>

    <script src="app.js"></script>

    <script src="app/confirm/confirmCtrl.js"></script>
    <script src="app/selectFromList/selectFromListCtrl.js"></script>

    <script src="app/table/tableCtrl.js"></script>
    <script src="app/typeahead/typeaheadCtrl.js"></script>

    <script src="app/httpPersistence/CouchDB/CouchDbAction.js"></script>
    <script src="app/httpPersistence/CouchDB/CouchDbEntity.js"></script>

    <script src="app/httpPersistence/Comments.js"></script>
    <script src="app/httpPersistence/Members.js"></script>
    <script src="app/httpPersistence/Teams.js"></script>

    <script src="app/commonServices/modals.js"></script>
</head>
<body ng-app="team">
    <div ng-controller="homeCtrl">
        <div class="root container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="row-fluid">
                        <div class="col-xs-8">
                            <ul class="nav nav-tabs" role="tablist">
                                <li ng-class="{active: isActive('/typeahead')}"><a href="#/typeahead">Find a person</a></li>
                                <li ng-class="{active: isActive('/table')}"><a href="#/table">All available</a></li>
                            </ul>
                            <div ng-view class="tab-container">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="teams">
                                <form class="add-team" ng-submit="addTeam()">
                                    <div class="input-group">
                                        <input class="form-control" type="text" ng-model="newTeam.name" placeholder="Add new team" required />
                                        <span class="input-group-btn">
                                            <button class="btn btn-success" type="submit" ng-disabled="!isValid()"><i class="glyphicon glyphicon-plus"></i> Add</button>
                                        </span>
                                    </div>
                                </form>
                                <accordion>
                                    <accordion-group ng-repeat="team in teams | reverse" is-open="team.active">
                                        <accordion-heading>
                                            <div class="relative">
                                                <div ng-bind="team.name"></div>
                                                <span class="close" ng-click="removeTeam(team, $event)"><i class="glyphicon glyphicon-remove"></i></span>
                                            </div>
                                        </accordion-heading>
                                        <div ng-repeat="member in team.members" class="relative team-member blue-hover">
                                            <span ng-bind="member.name"></span>
                                            <span class="close" ng-click="removeFromTeam(team, member)"><i class="glyphicon glyphicon-remove"></i></span>
                                        </div>
                                    </accordion-group>
                                </accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>