.clickable, .accordion-toggle {
    cursor: pointer;
}

.root {
    padding-top: 50px;
}

.add-team {
    padding-bottom: 20px;
}

.relative {
    position: relative;
}

.close {
    position: absolute;
    top: -3px;
    right: 0;
}

.tab-container {
    padding-top: 30px;
}

.found-members {
    margin-top: 2px;
    border-radius: 3px;
    border: 1px solid lightgrey;
    position: absolute;
    width: 100%;
}

.found-member {
    padding: 5px 10px;
    position: relative;
    font-size: 17px;
    border-radius: 2px;
}

    .found-member.active {
        background-color: blanchedalmond;
    }

input, input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #ccc !important;
}

.btn-full-width {
    width: 100%;
    margin: 5px 0;
}

.btn-select, .btn-select:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: white;
    border-color: lightgray;
}

    .btn-select.active {
        background-color: #dadada;
    }

.padding-10-15 {
    padding: 10px 15px;
}

.tag-manager {
    min-height: 100px;
    background-color: aliceblue;
    border-color: #dadada;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 5px;
    display: table;
    width: 100%;
    padding: 2px 5px;
    line-height: 2;
}

.tag-manager-empty-message {
    vertical-align: middle;
    display: table-cell;
}

.tag {
    background-color: #dadada;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    white-space: nowrap;
}

.remove-tag {
    color: gray;
    top: 3px;
}

    .remove-tag:hover {
        color: black;
    }

.add-to-team {
    padding-bottom: 10px;
}

.team-member {
    cursor: default;
    margin: 5px 0;
}

    .team-member .close {
        font-size: 14px;
        top: 7px;
        right: 5px;
    }

.blue-hover {
    padding: 5px;
    border-radius: 4px;
}

    .blue-hover:hover {
        background-color: aliceblue;
    }

.transitioned {
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.comments {
    padding: 5px 10px;
    margin: 5px;
    border: 1px dotted #dadada;
}

.add-comment {
    margin-top: 5px;
}

.comment {
    position: relative;
}

.comment-text {
    padding: 5px 0 20px 0;
}

.comment-date {
    font-size: 10px;
    bottom: 10px;
    right: 0;
    position: absolute;
    color: #dadada;
}

.delete-comment {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #dadada;
    cursor: pointer;
    font-size: 10px;
}

    .delete-comment:hover {
        color: black;
    }

hr {
    margin: 5px 0 0 0;
}

textarea {
    resize: vertical;
}

.member-name {
    line-height: 3;
}
