.clickable, .accordion-toggle {
    cursor: pointer;
}

.root {
    padding-top: 50px;
}

.add-team {
    padding-bottom: 20px;
}

.relative {
    position: relative;
}

.close {
    position: absolute;
    top: -3px;
    right: 0;
}

.tab-container {
    padding-top: 30px;
}

.found-members {
    margin-top: 2px;
    border-radius: 3px;
    border: 1px solid lightgrey;
    position: absolute;
    width: 100%;
}

.found-member {
    padding: 5px 10px;
    position: relative;
    font-size: 17px;
    border-radius: 2px;
}

    .found-member.active {
        background-color: blanchedalmond;
    }

input, input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #ccc !important;
}

.btn-full-width {
    width: 100%;
    margin: 5px 0;
}

.btn-select, .btn-select:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: white;
    border-color: lightgray;
}

    .btn-select.active {
        background-color: #dadada;
    }

.padding-10-15 {
    padding: 10px 15px;
}

.tag-manager {
    min-height: 100px;
    background-color: aliceblue;
    border-color: #dadada;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 5px;
    display: table;
    width: 100%;
    padding: 2px 5px;
    line-height: 2;
}

.tag-manager-empty-message {
    vertical-align: middle;
    display: table-cell;
}

.tag {
    background-color: #dadada;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    white-space: nowrap;
}

.remove-tag {
    color: gray;
    top: 3px;
}

    .remove-tag:hover {
        color: black;
    }
.add-to-team {
    padding-bottom: 10px;
}

.team-member {
    cursor: default;
}

.team-member .close {
    font-size: 14px;
    top: 0;
}

.team-member:hover {
    text-decoration: underline;
}